body {
    background-color: black;
	font-family: arial;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    color: black;
    text-align: justify;
}


h1 {
    font-family: sans-serif;
    font-style: normal;
	text-decoration:underline;
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    text-align: left;
}

h2 {
    font-family: monospace;
    font-style: normal;
	text-decoration:underline;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-align: left;
}

p {
    font-family: arial;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    color: black;
    text-align: justify;
}

a {
	font-style: normal;
	color:red;
	font-weight: bold;
}

ul {
}

li{
}

img {
}

div.contenu {
	width:auto;
	margin-left:30px;
	margin-right:30px;
	background-color:white;
}

div.redirct {
	width:auto;
	margin-left:30px;
	margin-right:30px;
}

button {
	background-color:black;
	color:white
}